/* Resetando alguns estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #5b056d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2em;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.formulario-cadastro {
    background-color: #fff;
    padding: 30px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-cadastro h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.formulario-cadastro form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario-cadastro label {
    font-size: 1.2em;
}

.formulario-cadastro input,
.formulario-cadastro select {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-cadastro button {
    background-color: #28a745;
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.formulario-cadastro button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}